body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b3f0ff;
    font-family: cursive;
    position: relative;
  }
  
  
  .com {
    padding: 100px 65px 60px 65px;
    background-color: whitesmoke;
    position: relative;
    border: black solid 1px;
    border-radius: 25px;
    position: absolute;
  }


  
  .up{
    position: absolute;
    top: 0;
  }



  .low {
    margin-top:20px ;
  }



  h1{
    margin-bottom: 0;
    padding-bottom: 0;
  }


  p{
    margin-top: 0;
    padding-top: 0;
  }


  .btn{
    border:black solid 1px;
    background-color:white ;
    /* box-sizing: border-box; */
    padding: 5px;
    width: 50px;
  }

:hover.btn{
    background-color: #b3f0ff;
}

.field{

    padding: 5px;
}


.list{
    position:absolute;
    right: 4%;
    top: 4%;

    padding: 10px 110px 65px 110px ;
    border: black solid 1px;
    border-radius: 15px;
    background-color: whitesmoke;
}

.clr{
    position: absolute;
    right: 45%;
    bottom: 5%;
}

.horizon{
    display: flex;
    flex-direction: row;
    padding-top: 8px;


}
.dltBTn{
  position: absolute;
  right: 10%;
}

.ele{
  position: absolute;
  left: 20%;
}